body {
    background-image: linear-gradient(to right, rgb(30,30,30), rgb(89,89,89));
    color: whitesmoke;
}

header{
    font-family: 'Titillium Web', sans-serif;
    font-size: 65px;
    text-align: left;
}

.bottomSection {
    position: fixed;
    background-color: orange;
    width: 100%;
    bottom: 0;
    left: 0em;
    text-align: center;
    height: 10;
    display:flex;
}

 .bottomSection img{
    width: 35px;
    align-items: center;
    padding: 10px;
}

#BB {
    height: 35%;
    width: 20%;
    margin: 1px;
}

.text{
    display: flex;
    justify-content: space-between;
}